<mat-card class="card-chart">
    <mat-card-content>
        <canvas  baseChart [data]="lineChartData" 
                 [options]="lineChartOptions" 
                 [type]="lineChartType">
        </canvas>
    </mat-card-content>
    <mat-card-actions>
        <div class="button-charts">
            <button mat-button color="accent"  (click)="getGraphData(1)">24 hours</button>
            <button mat-button color="accent" (click)="getGraphData(30)" >30 days</button>
            <button mat-button color="accent" (click)="getGraphData(90)" >90 days</button>
            <button mat-button color="accent" (click)="getGraphData(365)" >1 year</button>
        </div>
    </mat-card-actions>
</mat-card>


